<h1 class="animate__animated animate__bounce">An animated element</h1>

<div>
  <h3>Create a new Gateway</h3>
  <div class="submit-form">
    <div *ngIf="!submitted">

      <div class="form-group">
        <label for="serial_number">Serial number</label>
        <input
          type="text"
          class="form-control"
          id="serial_number"
          required
          [(ngModel)]="serial_number"
          name="serial_number"
        />
        <!-- <div class="alert-danger" *ngIf="serial_number && submitted">
          <div *ngIf="serial_number.['required']">Serial number is required</div>
          <div *ngIf="serial_number.['minlength']">
            Serial number must be at least 3 characters
          </div>
          <div *ngIf="serial_number.['maxlength']">
            Serial number must be at most 20 characters
          </div>
          </div> -->
      </div>

      <div class="form-group">
        <label for="human_readable">Human_readable</label>
        <input
          class="form-control"
          id="human_readable"
          required
          [(ngModel)]="human_readable"
          name="human_readable"
        />
      </div>
      <div class="form-group">
        <label for="ipv4_address">Ipv4_address</label>
        <input
          class="form-control"
          id="ipv4_address"
          required
          [(ngModel)]="ipv4_address"
          name="ipv4_address"
        />
      </div>
        <button  class="btn btn-success"
        (click)="saveGateway()"
        onclick="ValidateIPaddress(document.form-group.ipv4_address)" style="margin-top: 20px;">Submit</button>
    </div>

    <!-- <div *ngIf="submitted">
      <h4>Gateway was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newGateway()">Add</button>
    </div> -->

  </div>
</div>

<h3>Gateways</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Identificador</th>
      <th scope="col">Serial number</th>
      <th scope="col">Human readable</th>
      <th scope="col">Ipv4 address</th>
      <th scope="col">Published</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gate of all_gateways; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{gate.serial_number}}</td>
      <td>{{gate.human_readable}}</td>
      <td>{{gate.ipv4_address}}</td>
      <td>{{gate.published}}</td>
    </tr>

  </tbody>
</table>
