<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="serial_number">Title</label>
        <input
          type="text"
          class="form-control"
          id="serial_number"
          required
          [(ngModel)]="serial_number"
          name="serial_number"
        />
      </div>

      <div class="form-group">
        <label for="human_readable">Human_readable</label>
        <input
          class="form-control"
          id="human_readable"
          required
          [(ngModel)]="human_readable"
          name="human_readable"
        />
      </div>
      <div class="form-group">
        <label for="ipv4_address">Ipv4_address</label>
        <input
          class="form-control"
          id="ipv4_address"
          required
          [(ngModel)]="ipv4_address"
          name="ipv4_address"
        />
      </div>

      <button (click)="saveGateway()" class="btn btn-success">Submit</button>
    </div>

    <!-- <div *ngIf="submitted">
      <h4>Gateway was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newGateway()">Add</button>
    </div> -->
  </div>
</div>
